@font-face {
    font-family: GraduateShades;
    src: url(./GraduateShades.otf);
}



* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    height: auto;
    font-weight: bold;
}


header nav ul {
    display: flex;
    justify-content: center;
}

header nav li {
    list-style: none;

    margin: 18px;
    margin-right: 35px;
    font-size: 20px;
}

header nav li a:hover {
    color: rgb(151, 230, 60);
}

header a {
    text-decoration: none;
    color: white;

}

body {
    background-color: rgb(209, 27, 103);
    background-image: url('Background\ Mulheres.png');
    background-position: center;
    /* para centralizar a imagem */
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
}

main h1 {
    padding-top: 120px;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    color: aliceblue;
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
}

main {
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
}

main section p {
    font-family: "Titillium Web", sans-serif;
}



.introsquare {
    justify-content: center;
}

.intro {
    background-color: rgba(104, 32, 126, 0.877);
    border-radius: 9px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 550px;
    padding: 20px;
    color: rgb(221, 221, 221);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.753);
    font-weight: bold;
}

#biografias article {
    margin-bottom: 2%;
}


#tabela table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    align-items: center;
    background-color: rgba(77, 77, 77, 0.945);
    border: black 3px solid
}

#tabela th {
    border: black 3px solid
}

#tabela td {
    border: black 2px solid
}


td:hover {
    cursor: cell;
    background-color: rgb(18, 56, 139);
}







#figures {
    display: flex;
    justify-content: center;

}

#figures img {
    margin-top: 20px;
    border-radius: 5px;
    border: 2px rgb(158, 158, 158) solid;
    width: 80%;
}

#figures figure figcaption {
    font-size: 160%;
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#figures figure {
    text-align: center;
    background-color: rgba(59, 104, 145, 0.87);
    border: rgb(34, 20, 34) 3px solid;
    border-color: rgb(0, 0, 0);
    margin: 1%;
    width: auto;
    height: 300px;
    border-radius: 10px;
}

h2 {
    font-family: GraduateShades;
    color: rgb(0, 0, 0);
    background-color: rgba(43, 174, 226, 0.932);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    margin-left: 28%;
    margin-right: 28%;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    text-align: center;
    font-size: 42px;
}

#galeria h2 {
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
}

#contato form{
    background-color: rgba(47, 146, 113, 0.767);
    border: 2px black solid;
    width: 40%;
    height: auto;
    margin: auto;
    padding: 20px;
}

#contato form label{
    
    display: block;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1px black;
}

button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aquamarine;
    border-radius: 12px;
}

button:hover{
    cursor: pointer;
}












footer {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}